/* HEADER */

/* BODY */
body {
    background-color: #E3FDFF;
    margin: 0;
    --bg-color: #E3FDFF;
    --headings: #3D9DFF;
    --button: #3D9DFF;
    --button-hover: #037DFB;
}

h1 , h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

.cont{

    margin: auto;
    width: 100%;
}

.container {
    margin:auto;
    width: 1100px;
}
/*container card*/
.card_Circuit_Pair {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    background-color: #73C0FF;
    border-radius: 10px 10px 10px 10px;
}
/*container image pair*/
.card_Circuit_Pair_img {
    width: 40%;
}
/*container text - bouton*/
.card_Circuit_Pair_Description {
    width: 60%;
    border-radius: 0px 10px 10px 0px;
}
/*container text*/
.card_Circuit_Pair_Description_Text {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

/*container bouton pair*/
.card_Circuit_Pair_Description_button {
    display: flex;
    justify-content: center;
    
}
/*container card*/
.card_Circuit_Impair {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    background-color: #73C0FF;
    border-radius: 10px;
}
/*container text-bouton*/
.card_Circuit_Impair_Description {
    width: 60%;
    border-radius: 0px 10px 10px 0px;;
}
/*container text*/
.card_Circuit_Impair_Description_Text {
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 15px;
}
/*container bouton impair*/
.card_Circuit_Impair_Description_button {
    display: flex;
    justify-content: center;
}
/*container image impair*/
.card_Circuit_Impair_img {
    width: 40%;
    border-radius: 10px;
}

/*image pair - impair cards */

.boat {
    border-radius: 10px;
   width: 100%;
   height: 100%;
}
/* proprietes du bouton*/
.button {
    background: var(--button);
    color: #fff;
    padding: 10px 15px;
    margin: 20px auto;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    border: none;
}
/*effet bouton*/
.button:hover {
    background: var(--button-hover);
    box-shadow: 0px 0px 5px 2px #656565;
    transition-delay: 0.2s;
}

.row {
    display: flex;
    width: 100%;
}


footer img {
    height: 50px;
}

li {
    list-style: none;
    margin: 15px 0px;
}

.footer-links {
    width: 40%;
    padding-top: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #000;
}

.footer-links a:hover {
    font-weight: bold;
}

.footer-links-all {
    width: 50%;
}

.footer-partner {
    width: 50%;
}

.footer-partner img {
    padding-right: 10px;
}

.footer-partner img:hover{
    transform: scale(1.2);
}

hr {
    color: #000;
    width: 100%;
    text-align: center;
}

.copyright {
    width: 50%;
    text-align: center;
}

.newsletter {
    width: 50%;
    margin: 16px 0px;
}

input#mail {
    border-radius: 5px;
    border: 1px solid #999;
    padding: 5px 5px;
}

input .submit {
    background: var(--button);
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
}

footer {
    background-color: #fff;
}

/* media queries*/
@media only screen and (max-width:640px) {
    .body {
        display: flex;
        flex-direction: column; 
    }
    .cont {
        display: flex;
        }

    .container {
        display : flex;
        margin: 0px 25px;
        }

    .card_Circuit_Pair {
        flex-direction: column;
        align-items: center;
    }
    .card_Circuit_Pair_img {
        width: 100%
    }
    .card_Circuit_Impair {
        flex-direction: column-reverse;
        align-items: center;
    }
    .card_Circuit_Impair_img {
        width: 100%
    }
}
/* FOOTER */    
@media screen and (max-width: 640px) {
    .portraits {
        flex-direction: column;
        justify-content: center;
    }
    .copyright p {
        margin: 0px auto;
    }
    .medal {
        width: 100%;
    }
    .find-us-infos {
        flex-direction: column;
    }
    .find-us-item {
        width: 100%;
    }
    .img-medal {
        padding-top: 15px;
    }
    .footer-up, .footer-links-all {
        flex-direction: column;
        text-align: center;
    }
    .footer-down {
        flex-direction: column;
        text-align: center;
    }
    .footer-up, .footer-links-all, .footer-links, .footer-partner, .copyright, .newsletter {
        width: 100%;
    }
    .newsletter {
        text-align: center;
    }
    ul {
        padding: 0px;
    }
}