/* HEADER */

/* BODY */
body {
    display:flex;
}
.containerFluid{
    width: 100%;
}
.container {
    width: 1100px;
}
.card_Circuit_Pair {
    display: flex;
}
.card_Circuit_Pair_img {
    width: 40%;
}
.
.card_Circuit_Pair_Description {
    width: 60%:
}
.card_Circuit_Pair_Description_Text {

}
.
.card_Circuit_Pair_Description_button {

}
/* FOOTER */ 