body{
    background-color: #E3FDFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}

main{
    width: 70%;
}

form{
    display: flex;
    flex-direction: column;
}

.ID_user{
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin: 10px 0;
}

.ID_user>*{
    width: 40%;
    border-radius: 5px;
    padding: 5px;
}

.contact_user{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.contact_user>*{
    width: auto;
    margin: 10px 0;
    height: 19px;
    border-radius: 5px;
    padding: 5px;
}

textarea{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 0;
}
 .checkbox input{
     margin: 0;
     padding: 0;
 }

 .checkbox label{
 }

 .button input{
     height: 35px;
     width: 100px;
 }