html{
}

body{
    background-color: #E3FDFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

h1{
    color: #3D9DFF;
    font-size: 2rem;
    font-weight: 700;
}

h2{
    color: #3D9DFF;
    font-size: 1.7rem;
    font-weight: 700;
}

h3{
    color: #3D9DFF;
    font-size: 1.4rem;
    font-weight: 700;
}

p{
    color: #000;
}

.contact_form{
    display: flex;
    justify-content: center;
}

.align_center{
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

.align_center input{
    height: 25px;
    margin: 15px 0;
    width: 45%;
}

.ID_user{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contact_user{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.croisiere{
    display: flex;
    width: 100%;
    margin: 15px 0;
}

.croisiere label{
    width: 30%;
}
.croisiere select{
    width: 70%;
}

.number_and_date{
    display: flex ;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
}

.select_nombre{
    display: flex;
    width: 75%;
}

.select_nombre label{
    width: 40%;
}

.select_nombre select{
    width: 20%;
    height: 19px;
}

.calendar{
    display: flex;
    justify-content: center;
    width: 25%;
}

.calendar input{
    height: 75%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.block_appear{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choix_croisiere{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    width: 70%;
    border: 1px solid;
    margin: 5px 0;
}