/* GLOBAL */

body{
    display: flex;
    background-color: #E3FDFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    height: 740px;
    margin: 0;
    background-image: url(https://cdn.pixabay.com/photo/2017/03/10/20/32/birds-eye-view-2133661_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

h2{
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700;
}

h3{
    background-color: grey;
    border-radius: 5px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    font-size-adjust: ;
}

p{
    color: #fff;
}

label{
    color: #fff;
}

main{
    display: flex;
    align-items: center;
    margin: auto;
    width: 1100px;
}

select{
    background-color: #fff;
    border-radius: 5px;
    height: 25px;
}

/* FORMULAIRE */

form h3{
    font-size: 1.7vw;
    text-align: left;
}

.contact_form{
    display: flex;
    justify-content: center;
    width: 35%;
}

.align_center{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.ID_user{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px 0;
}

.ID_user input{
    margin: 5px 0;
    padding: 5px;
}

.contact_user{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px 0;
}

.contact_user input{
    padding: 5px;
}

/* CHOIX CROISIERE */

.croisiere{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px 0;
}

.croisiere label{
    width: 100%;
    margin: 2px 0;
}

.select_nombre{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5px 0;
}

.calendar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 5px 0;
}

/* BLOCK PHOTO */

.block_appear{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.croisiere_matin{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 5px 0;
}

.img_croisiere{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
}

.img_croisiere img{
    position: relative;
    border: 1px solid;
    border-color: aqua;
    height: 75%;
    width: 80%;
}

.promo{
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 3vw;
}

.img_croisiere img:hover{
    opacity: 0.2;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 25%;
    width: 100%;
}

.description h2{
    font-size: 2.5vw;
    margin: 10px 0;
}

.description p{
    font-size: 1.5vw;
    text-align: center;
    margin: 10px 0;
    width: 80%;
}

/* BUTTON */

.reservation{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 50px;
}

.reservation input{
    color: #fff;
    background-color:#3C5491;
    height: 45px;
    width: 50%;
    border-radius: 5px 0;
    box-shadow: 2px 2px 5px #555;
}

.reservation input:hover{
    color: black;
    background-color: aqua;
    border-radius: 5px 0;
    transform: scale(1.1);
}

.reservation input:hover{
    
}

/* RESPONSIV */

@media screen and (max-width: 915px){
    .calendar{
        flex-direction: column;
        align-items: center;
    }
    .calendar>*{
        margin: 5px 0;
    }
}

@media screen and (max-width: 640px){
    main{
        flex-direction: column;
        align-items: center;
    }

    .align_center{
        align-items: center;
    }
    
    .croisiere{
        align-items: center;
        text-align: center;
    }

    .select_nombre{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .reservation{
        justify-content: center;
        margin: 10px 0;
    }

    p{
        display: none;
    }
}